# Copied to /etc/systemd/system/trapdoor.service
[Unit]
Description=Trapdoor Countdown Service
After=network.target

[Service]
User=mittenmade
WorkingDirectory=/services/Gabriel_Price/Gabriel/trapdoor
ExecStart=/services/Gabriel_Price/Gabriel/trapdoor/venv/bin/gunicorn -w 1 -b 127.0.0.1:5001 app:app
Restart=always
RestartSec=5
Environment="PATH=/services/Gabriel_Price/Gabriel/trapdoor/trapdoor/venv/bin"

[Install]
WantedBy=multi-user.target


